@font-face {
    font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
}
@font-face {
	font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
}
body{
	
	font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
	background:#fff;
	
}
body a{
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
	cursor:pointer;
}
 ul{
	padding: 0;
	margin: 0;
	
}
h1,h2,h3,h4,h5,h6,p,label{
	margin:0;
}
.header{
	background: url(../images/sp5.jpg) no-repeat bottom;
	width:100%;
	min-height: 870px;
	display: block;
	background-size: cover;
	position: relative;
}
.logo  {
	float:left;
}
.header-top{
	background:rgba(221, 73, 109, 0.7);
	padding: 1em 0;
}

.top-nav{
	float:right;
	margin-top: 1.9em;
}
.top-nav ul li {
	display:inline-block;
}
.top-nav span.menu {
  display: none;
}
.top-nav ul li  a {
	display: inline-block;
	color: #fff;
	text-decoration: none;		
	font-size: 1.2em;
	margin:0em 1.3em;
}
.top-nav ul li  a:hover,.top-nav ul li.active a{
	color:#CCCE00;
}
/*--banner--*/
.banner-top {
	position: absolute;
	width: 55%;
	padding: 1.5em;
	background: #ccce00;
	bottom: -4%;
	left: 23.5%;
}
.copyrights{
	text-indent:-9999px;
	height:0;
	line-height:0;
	font-size:0;
	overflow:hidden;
}
/*--banner-end--*/
/*--//content-mid--*/
.new-more1 {
  background-color: #fff;
  padding: 3em 2em;
}

.six1 h1{
	font-size:2em;
  	color: #dd496d;
}
.six1 p{
		font-size: 1em;
  	color: #8E8E8E;
    line-height: 1.7em;
  	margin:0.5em 0;
}
.six {
  	padding: 0;
}
.six1 a i{
	background: url(../images/ar.png) 0px 0px;
  	width:21px;
  	height:21px;
  	display:block;
}
.news {
  padding: 3em 0 0;
}
.six img{
  border-radius: 100px;
}
/*--content--*/
.welcome {
  padding: 7em 0 0;
}
.col-md h2{
	font-size:2em;
  	color: #dd496d;
  	margin:0 0 0.3em;
}
.col-md p{
	font-size:1.1em;
  	color: #8E8E8E;
 	line-height:1.8em;
}
.col{
	padding:0;
}
.col2 {
 	 padding: 1em 0;
}
.col-md {
  	margin: 9em 0px 0px;
}
/*----*/
.col1 figure {
	position: relative;
	float: left;
	overflow: hidden;
	text-align: center;
	cursor: pointer;
	width:100%;
}
.col1 figure img {
	position: relative;
	display: block;
}

.features-grids figure figcaption {
	padding: 2em;
	color: #fff;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
}

.col1 figure figcaption{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
figure.effect-bubba {
	background: #6d6e70;
}
figure.effect-bubba:hover img {
	opacity: 0.3;
}

figure.effect-bubba figcaption::before,
figure.effect-bubba figcaption::after {
	position: absolute;
	top: 30px;
	right: 30px;
	bottom: 30px;
	left: 30px;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.35s,-webkit-transform 0.35s;	
	-moz-transition: opacity 0.35s, -moz-transform 0.35s;
	-o-transition: opacity 0.35s, -o-transform 0.35s;
	-ms-transition: opacity 0.35s, -ms-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.effect-bubba figcaption::before {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	-webkit-transform: scale(0,1);
	-moz-transform: scale(0,1); 
	-o-transform: scale(0,1);
	-ms-transform: scale(0,1);
	transform: scale(0,1);
}

figure.effect-bubba figcaption::after {
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
	-webkit-transform: scale(1,0);
	-moz-transform: scale(1,0);
	-o-transform: scale(1,0);
	-ms-transform: scale(1,0);
	transform: scale(1,0);
}
figure.effect-bubba h4 {
	padding-top: 21%;
	-webkit-transition: transform 0.35s;
	-moz-transition: transform 0.35s;
	-o-transition: -o-transform 0.35s;
	-ms-transition: -ms-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,-20px,0);
	-moz-transform: translate3d(0,-20px,0);
	-o-transform: translate3d(0,-20px,0);
	-ms-transform: translate3d(0,-20px,0);
	transform: translate3d(0,-20px,0);
	opacity:0;
	color:#fff;
	font-size: 1.5em;
}
figure.effect-bubba h4.gal {
	padding-top: 21%;
}
figure.effect-bubba p {
	padding: 20px 2.5em;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	-moz-transition: opacity 0.35s, -moz-transform 0.35s;
	-o-transition: opacity 0.35s, -o-transform 0.35s;
	-ms-transition: opacity 0.35s, -ms-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,20px,0);
	-moz-transform: translate3d(0,20px,0);
	-o-transform: translate3d(0,20px,0);
	-ms-transform: translate3d(0,20px,0);
	transform: translate3d(0,20px,0);
	color:#fff;
	font-size: 1em;
}

figure.effect-bubba:hover figcaption::before,
figure.effect-bubba:hover figcaption::after {
	opacity: 1;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

figure.effect-bubba:hover h4,
figure.effect-bubba:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	-o-transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
/*--//welcome--*/
/*--test--*/
.test h3{
	font-size:3em;
  	color: #ccce00;
  	margin:0 0 0.3em;
  	text-align: center;
}
.test2 h5{
	font-size:2em;
  	color: #dd496d;
  	margin:0 0 0.3em;
}
.test2 p{
	font-size:1.1em;
  	color: #8E8E8E;
 	line-height:1.8em;
}
.test1 img{
	margin: 0 auto;
}
.test2 {
  	margin: 7em 0px 0;
}
.test {
 	 padding: 5em 0 0;
}
/*--//test--*/
/*--newsletter start here--*/
.newsletter {
  	padding: 4em 0 3em;
  	background: #ccce00;
    text-align: center;
}
.newsletter h3 {
  	font-size: 2.5em;
 	 color: #000;
}
.newsletter p {
  	font-size:1.1em;
  	color: #fff;
 	line-height:1.8em;
 	width:60%;
 	margin: 0.8em auto;
}
.newsletter-main span {
  	font-size: 1em;
  	font-weight: 400;
  	color: #fff;
  	border: none;
  	padding: 0.6em 0em;
  	width: 18%;
    display: inline-block;
  	background:#dd496d;
  	outline: none;
  	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
.newsletter-main span:hover {
	background: #404040;
}
/*--news letter end here--*/
/*--grid--*/
.grid{
	 background: url(../images/ba.jpg) no-repeat;
	 width:100%;
	 min-height: 300px;
	 display: block;
	 background-size: cover;
	 padding: 5em 0;
}
.grid3{
	border: 1px solid #fff;
	padding: 1em;
}
.grid1{
	padding: 0;
}
.grid2 {
  	background-color: #404040;
  	padding: 1em;
  	height:257px;
}
.grid3 h4 {
 	 font-size: 2em;
  	color: #ccce00;
  	margin-top:0.4em;
}
.grid3 p {
  	font-size:1.1em;
  	color: #fff;
 	line-height:1.8em;
 	margin: 1.3em 0 0;
}
/*--team--*/
.ch-grid {
	margin: 20px 0 0 0;
	padding: 0;
	list-style: none;
	display: block;
	text-align: center;
	width: 100%;
}
.ch-grid:after,
.ch-item:before {
	content: '';
    display: table;
}
.ch-grid:after {
	clear: both;
}
.ch-grid li {
	width: 220px;
	height: 220px;
	display: inline-block;
	margin: 20px;
}
/*----*/
.ch-item {
	width: 100%;
	height: 100%;
	position: relative;
	box-shadow: 
		inset 0 0 0 0 rgba(221, 73, 109, 1), 
		inset 0 0 0 16px rgba(255,255,255,0.6), 
		0 1px 2px rgba(0,0,0,0.1);	
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.ch-img-1 { 
	background-image: url(../images/t1.png);
}
.ch-img-2 { 
	background-image: url(../images/t2.png);
}
.ch-img-3 { 
	background-image: url(../images/t3.png);
}
.ch-img-4 { 
	background-image: url(../images/t4.png);
}
.ch-info {
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	opacity: 0;	
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;	
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-o-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);	
	-webkit-backface-visibility: hidden; /*for a smooth font */
}
.ch-info h3 {
	color: #fff;
	text-transform: uppercase;
	position: relative;
	letter-spacing: 2px;
	font-size: 22px;
	margin: 0 30px;
	padding: 72px 0 0 0;
	height: 110px;
	text-shadow: 
		0 0 1px #fff, 
		0 1px 2px rgba(0,0,0,0.3);
}
.ch-info p {
	color: #fff;
	padding: 10px 5px;
	font-style: italic;
	margin: 0 30px;
	font-size: 16px;
	border-top: 1px solid rgba(255,255,255,0.5);
}
.ch-info p a {
	display: block;
	color: #fff;
	color: rgba(255,255,255,0.7);
	font-style: normal;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 9px;
	letter-spacing: 1px;
	padding-top: 4px;
}
.ch-info p a:hover {
	color: #fff222;
	color: rgba(255,242,34, 0.8);
}
.ch-item:hover {
	box-shadow: 
		inset 0 0 0 110px rgba(221, 73, 109, 0.19),
		inset 0 0 0 16px rgba(255,255,255,0.8), 0 1px 2px rgba(0,0,0,0.1);
}
.ch-item:hover .ch-info {
	opacity: 1;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);	
}

.team-top h3 {
	  font-size: 3em;
	  color: #ccce00;
	  margin: 0 0 0.3em;
	  text-align: center;
}
.team{
	  padding: 5em 0;
}
/*--services--*/
.popular h3 {
	  font-size: 3em;
	  color: #dd496d;
	  text-align: center;
      margin: 0 0 0.8em;
}
.popular-grid{
	position: relative;
}
.popular-grid:before{
	content:'';
	background: #DD496D;
  	width: 16px;
  	height: 16px;
 	 display: inline-block;
  	border-radius: 100px;
 	 position: absolute;
  	top: 4%;
  	left: -4%;
}
.popular-grid h4{
	font-size: 2em;
}
.popular-grid h4 a{
	text-decoration:none;
    color: #ccce00;
}
.popular-grid p {
  	font-size: 1.1em;
  	color: #8E8E8E;
  	line-height: 1.8em;
  	  margin: 0.5em 0 0;
}
.popular {
  	padding: 5em 0;
}
.content-bottom-top1 h3 {
  font-size: 2em;
  color: #DD496D;
}
.content-bottom-top1 p {
    font-size: 1.1em;
  color: #8E8E8E;
  line-height: 2em;
  margin-top: 1em;
}
.content-bottom {
  padding: 0 0 5em;
}

/*--gallery--*/
.gallery-grid{
	padding: 0;
}
/*--//gallery--*/

.content-mid-top h3 {
  font-size: 3em;
  color: #ccce00;
  margin: 0 0 0.3em;
  text-align: center;
}
.new-more-at1 {
  background-color: #ECECEC;
}
.about1 {
  padding: 2em 2em;
}
.about1 h5{
	font-size: 1.5em;
   color: #DD496D;
}
.about1 p{
	font-size: 1.1em;
  	color: #504D4D;
    line-height: 1.7em;
  	margin:0.5em 0;
}
.about {
  padding: 0;
}
.about1 a{
	font-size: 1.5em;
	color: #000;
}
.about1 a:hover{
	color: #29C4CA;
}
.news {
  padding: 3em 0 0;
}
.six img{
  border-radius: 100px;
}
.content-middle {
  padding: 5em 0 0;
}
/*--contact--*/
.map {
	position:relative;
}
.map span{
	background: rgba(0, 0, 0, 0.46);
	min-height: 300px;
	width: 100%;
	position: absolute;
	top: 0;
}
.map iframe{
	width:100%;
	min-height:300px;
	border:none;
}
.contact-info h3{
	font-size: 2em;
  	color: #ccce00;
  	margin: 0 0 0.3em;
}
.contact-info p{
	font-size: 1.1em;
  	color: #8E8E8E;
  	line-height: 1.8em;
}
.contact-form{
	background:#fff;
	padding: 1em;
}
.your-name span{
	color:#ABADAF;
	font-size:1em;
}
.your-submit{
  padding: 0 15px;
}
.your-name{
	outline: none;
	margin: 12px 0px;
	padding: 10px;
	background: #E6E9EC;
	border: none;
	border-radius: 3px;
	resize: none;
}
.your-name ul{
	height: 160px;
}
.your-left li{
    width: 100%;
    text-align: right;
    font-weight: 500;
}
.your-right li{
    text-align: left;
}
.your-name ul li{
    list-style: none;
}
.your-submit  input[type="submit"] {
	background: #dd496d;
	outline: none;
	font-size: 1.1em;
	margin: 16px 0px;
	border: none;
	border-radius: 3px;
	padding: 6px 14px;
	color: #fff;
	transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
}
.your-submit  input[type="submit"]:hover{
	background:#ccce00;
}
.contact-box {
	position:relative;
	padding: 4em 0;
}
.contact-form{
	position:absolute;
	right:0;
	top:-150px;
}
/*--footer--*/
.footer{
	background:#DD496D;
	padding: 3em 0;
	text-align: center;
}
.footer a i {
  	background: url(../images/me.png) 0px 0px;
  	width:32px;
  	height:32px;
  	display:block;
  	margin: 0 auto;
}
p.footer-in {
  	font-size: 1.5em;
  	width: 50%;
  	line-height: 1.5em;
  	margin: 1em auto;
  	color:#fff;	
}
p.footer-class{
	font-size: 1em;
	color:#fff;	
    margin: 3em 0 0;
}
p.footer-class a{
	text-decoration:none;
	color:#fff;	
}
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 25px;
	right: 10px;
	overflow: hidden;
	width: 52px;
	height: 52px;
	border: none;
	text-indent: 100%;
	background: url('../images/up.png') no-repeat 0px 0px;
}
/*--//footer--*/